testsuite/xforms-examples/16-eXist/02-contacts-demo/rules/rules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="Schema2XFormsRulesDocument">
      <xs:annotation>
         <xs:documentation>A rule file of transformations rules on how to tranform XML Schemas to XForms.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Rule" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>One of the transformation rules.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="RuleSelectorText">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="match ends-with(//xs:element/@ref, &apos;Indicator&apos;)"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="RuleOptions">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="RuleOption" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="RuleOptionName">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="Display Checkbox"/>
            <xs:enumeration value="Display Yes/No Radio Buttons"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="RuleOption">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="RuleOptionName">
               <xs:annotation>
                  <xs:documentation>The name of the option such as "yes/no" or "checkboxes".</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="RuleActions">
               <xs:annotation>
                  <xs:documentation>An action to take such as insert into the current output stream or modify the binds in the model.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="RuleName">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="How to Display Dates"/>
            <xs:enumeration value="How to Display True/False Fields"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="RuleFileName">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="boolean-checkbox.xml"/>
            <xs:enumeration value="boolean-radio.xml"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="RuleDescriptionText" type="xs:string"/>
   <xs:element name="RuleActions">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Action" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Rule">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="RuleName">
               <xs:annotation>
                  <xs:documentation>The name of the transformation rule such as "displaying booleans".</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="RuleDescriptionText">
               <xs:annotation>
                  <xs:documentation>A textual description of the rule.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="RuleSelectorText">
               <xs:annotation>
                  <xs:documentation>How should the rule file.  The left hand side of the if statement.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="RuleOptions" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>The rule options.  Each time a rule fires zero or more of these options must get executed.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
         <xs:attribute name="id" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="R1"/>
                  <xs:enumeration value="R2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="AddToOutputIndicator">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="AddToBindsIndicator">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Action">
      <xs:complexType>
         <xs:sequence>
            <xs:sequence>
               <xs:element ref="AddToBindsIndicator"/>
               <xs:element ref="AddToOutputIndicator"/>
            </xs:sequence>
            <xs:element ref="RuleFileName">
               <xs:annotation>
                  <xs:documentation>The file name to store any inserted text.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
