testsuite/XForms1.1/Edition1/Chapt06/6.1/6.1.3/6.1.3.b.instance.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://example.org" 
            targetNamespace="http://example.org">
            
  <xsd:element name="last-name" nillable="true"/>
  
  <xsd:element name="first-name"/>
  
  <xsd:element name="person-name">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="first-name"/>
        <xsd:element ref="last-name"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>